<%= form_for @user, html: { id: "needs-validation", novalidate: "novalidate" } do |u| %>
  <div class="form-group">
    <%= u.label :email %>
    <%= u.text_field :email, class: 'form-control', placeholder: 'steven_halim@nus.edu.sg', required: true %>
  </div>
  <div class="form-group">
    <%= u.label :name %>
    <%= u.text_field :name, class: 'form-control', placeholder: 'Steven Halim' %>
  </div>
  <div class="form-group">
    <%= u.label :password %>
    <%= u.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= u.label :password_confirmation %>
    <%= u.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <%= u.submit "Sign up", class: 'btn btn-primary' %>
<% end %>
