
<% if params[:change] == "password" %>

<%= render "header" %>

<h3><strong>Change Password</strong></h3>

<hr>

  <%= form_for(@user) do |u| %>
    <div class="form-group">
      <span class="form-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
      <%= label_tag :email %>
      <%= text_field_tag :email, @user.email, class: 'form-control', disabled: "disabled" %>
    </div>
    <div class="form-group">
      <span class="form-group-addon"><i class="fa fa-key fa-fw"></i></span>
      <%= u.label :current_password %>
      <%= u.password_field :current_password, class: 'form-control', required: true %>
    </div>
    <div class="form-group">
      <span class="form-group-addon"><i class="fa fa-key fa-fw"></i></span>
      <%= u.label :password %>
      <%= u.password_field :password, class: 'form-control', required: true %>
    </div>
    <div class="form-group">
      <span class="form-group-addon"><i class="fa fa-key fa-fw"></i></span>
      <%= u.label :password_confirmation %>
      <%= u.password_field :password_confirmation, class: 'form-control', required: true %>
    </div>
    <%= u.submit "Update", class: 'btn btn-primary' %>
    <%= hidden_field_tag "change", "password" %>
  <% end %>

<% elsif params[:change] == "details" %>

<%= render "header" %>

<h3><strong>Update Details</strong></h3>

<hr>

  <%= form_for(@user) do |u| %>
    <div class="form-group">
      <span class="form-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
      <%= label_tag :email %>
      <%= text_field_tag :email, @user.email, class: 'form-control', disabled: "disabled" %>
    </div>
    <div class="form-group">
      <span class="form-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
      <%= u.label :name %>
      <%= u.text_field :name, class: 'form-control' %>
    </div>
    <%= u.submit "Update", class: 'btn btn-primary' %>
    <%= hidden_field_tag "change", "details" %>
  <% end %>

<% end %>
