<%= form_for @item, html: { id:"needs-validation", novalidate: "novalidate" }  do |form| %>
  <div class="form-row col-md">
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, 
          class: 'form-control', 
          placeholder: 'Example Task', 
          required: true %>
      <div class="invalid-feedback">
          Please provide a valid title.
      </div>
    </div>  
    <div class="form-group">
      <%= form.label :deadline %>
      <%= form.text_field :deadline, 
          class: 'form-control', 
          placeholder: 'dd/mm/yyyy', 
          data: {provide: "datepicker", date_format: 'dd/mm/yyyy'}, 
          required: true, readonly: true %>
      <div class="invalid-feedback">
          Please provide a valid deadline.
      </div>
    </div>    
    <div class="form-group">
      <%= form.label :priority %>
      <%= form.number_field :level_of_importance, 
          class: 'form-control', 
          placeholder: 'Choose from 1 to 5.', 
          required: true, 
          min: 1, max: 10 %>
      <div class="invalid-feedback">
          Please provide a valid priority (between 1 and 5).
      </div>
    </div>     
    <div class="form-group">
      <%= form.label :details %>
      <%= form.text_area :details, 
          class: 'form-control', 
          placeholder: 'More details about the task above.', 
          style: 'height: 125px;' %>
    </div>
    <div class="form-group">
      <%= form.label :categories %>
      <%= text_field_tag "category", 
            @item.categories.map { |c| c.name }.join(","), 
            class: 'form-control', 
            data: { role: 'tagsinput' } %>
    </div>
    <%= form.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
$('#category').tagsinput({
    typeaheadjs: {
        name: 'category_names',
        displayKey: 'name',
        valueKey: 'name',
        source: category_names.ttAdapter()
    }
});
</script>
