<%= render "header", show: true %>

<div class="toolbar">
  <%= form_tag(items_path, method: :get, class: 'search-form form-group') do %>
    <%= link_to '<i class="fa fa-plus"></i>'.html_safe, 
        new_item_path, 
	    class: 'btn btn-primary', 
	    data: { toggle: 'tooltip', placement: 'bottom' }, 
	    title: 'New Task' %>
    <%= link_to '<i class="fa fa-tags"></i>'.html_safe, 
        categories_path, 
        class: 'btn btn-success', 
	    data: { toggle: 'tooltip', placement: 'bottom'}, 
	    title: 'Display Categories' %>
    <!span class="input-group">
    <!span class="input-group-addon">
        <!i class='fa fa-search'><!/i>
    <!/span>
    <%= text_field_tag :search, 
	    params[:search], 
	    class: 'form-control', 
	    placeholder: "Search tasks" %>
    <!/span>
    <%= button_tag(type: 'submit',
        class: 'btn btn-default',
        data: { toggle: 'tooltip', placement: 'bottom'},
        title: 'Search') do %>
        <i class="fa fa-search-plus"></i>  
    <% end %>
  <% end %>
</div>

<table class="table table-sm table-hover table-bordered table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= gen_link sortable("title", '<i class="fa fa-database"></i>') %></th>
      <th scope="col"><%= gen_link sortable("title", '<i class="fa fa-tags"></i>') %></th>
      <th scope="col"><%= gen_link sortable("deadline", '<i class="fa fa-calendar"></i>') %></th>
      <th scope="col"><%= gen_link sortable("completed", '<i class="fa fa-hourglass-half"></i>') %></th>
      <th scope="col"><i class="fa fa-angle-double-down"></i></th>
      <th scope="col"><i class="fa fa-angle-double-down"></i></th> 
    </tr>
  </thead>
  <tbody>
    <% @items.each do |t| %>
    <% if t.completed %>
      <% bgcolour = "#40E0D0"; icon = '<i class="fa fa-close fa-fw"></i>'; text = 'Uncomplete'; butt = 'btn btn-xs btn-danger'%>
    <% else %>
      <% bgcolour = "#FFFFFF"; icon = '<i class="fa fa-check fa-fw"></i>'; text = 'Complete'; butt = 'btn btn-xs btn-success'%>
    <% end %>
    <tr style="background-color:<%= bgcolour %>">
      <th class="title">
        <%= link_to t.title, item_path(t) %>
        <i class="fa fa-flash"></i>
        <%= t.level_of_importance %>
      </th>
      <td class="category">
        <div class="mytags">
          <% t.categories.each do |c| %>
            <span class="mytag" style="background-color:<%= "#FFFFFF" %>; color: <%= "#000000" %>">
              <i class="fa fa-tag"></i>
              <%= link_to c.name, category_path(c), class: 'taglink' %>
            </span>
          <% end %>
        </div>
      </td>
      <td><%= t.deadline if t.deadline %></td>
      <td>
        <%= link_to icon.html_safe, 
            complete_item_path(t),
            class: butt,
            data: { toggle: 'tooltip', placement: 'bottom' },
            title: text %>
      </td>
      <td>
        <%= link_to '<i class="fa fa-edit fa-fw"></i>'.html_safe, 
            edit_item_path(t),
            class: 'btn btn-xs btn-primary',
            data: { toggle: 'tooltip', placement: 'bottom' },
            title: 'Edit'%>
      </td>
      <td>
        <%= link_to '<i class="fa fa-trash fa-fw"></i>'.html_safe, 
            item_path(t), method: :delete, 
            class: 'btn btn-xs btn-danger',
            data: { confirm: 'Delete task?', toggle: 'tooltip', placement: 'bottom' },
            title: 'Delete'%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= render "footer" %>
