<%= render "header" %>
<h3><strong>Task</strong></h3>

<hr>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @item.deadline %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @item.level_of_importance %>
</p>

<p>
  <strong>Details:</strong><br>
  <%= @item.details %>
</p>

<div>Created at <%= @item.created_at %> by <%= current_user.name%> (user <%= @item.user_id %>).</div>
<div>Updated at <%= @item.updated_at %> by <%= current_user.name%> (user <%= @item.user_id %>).</div>

<div>
<%= link_to 'Edit'.html_safe, edit_item_path(@item), class: 'btn btn-default' %>
<%= link_to 'Back'.html_safe, items_path, class: 'btn btn-default' %>
</div>

<hr>

<div>
<h4><strong>Remarks</strong></h4>
<%= render @item.remarks %>
</div>

<hr>

<div>
<h4><strong>Add remarks</strong></h4>
<%= render 'remarks/form' %>
</div>

<%= render "footer" %>

