<head>
<div class="container">
    
  <h1>
    <%= image_tag("to-do-icon-sm.png") %>
    <% if link.empty? %>
      <%= title %>
    <% else %>
      <%= link_to title, link %>
    <% end %>	  
  
    <% if logged_in? %>
      <span class="dropdown user">
        <button class="btn btn-default dropdown-toggle" type="button" id="userMenuButton" data-toggle="dropdown">
          <i class="fa fa-user-circle-o"></i>
          <% if current_user.name.blank? %>
            <%= current_user.email %>
          <% else %>
            <%= current_user.name %>
          <% end %>
        </button>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-min-width">
            <%= link_to '<i class="fa fa-edit fa-fw"></i>&nbsp; Profile'.html_safe, 
                current_user, 
	            class: "dropdown-item bg-info text-white" %> 
	        <%= link_to '<i class="fa fa-trash fa-fw"></i>&nbsp; Logout'.html_safe, 
	            logout_path, method: :delete, 
	            class: "dropdown-item bg-danger text-white",
                data: {confirm: 'Do you want to log out?'} %>
            <%= link_to '<i class="fa fa-keyboard-o fa-fw"></i>&nbsp; Admin'.html_safe,
                admin_path,
                class: "dropdown-item bg-warning text-white" %>
        </div>
      </span>
    <% end %>
  </h1>

  <hr>

  <% flash.each do |key, value| %>
	    
  <div class="alert alert-<%= key %> alert-dismissible show" role="alert">
    <%= value %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <% end %>
</head>
